@import '../../../styles.scss';

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    .category-title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 200px;
        height: 40px;
        padding-left: 16px;
        padding-right: 16px;
        border-bottom: 1px solid $color-item;
        

        .category-name{
            color: $color-sub;
            font-size: $category-size;
        }
    }

    .item-container{
        width: 380px;
    
        &.hidden{
            display: none;
        }
    }

}



