.container{
    display: flex;
    flex-direction: column;
    gap: 16px;

    .category-title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 200px;
        height: 40px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .item-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 12px;
    
        &.hidden{
            display: none;
        }
    }

}



